<div class="table-div">
  <table class="ld-table" id="graph-table">
    <thead>
      <% if (model.routingList.length == 0 && model.selectedPoint) { %>
        <div class="ld-table-filter-info" style="position:static;">
        </div>
      <% } %>
      <tr>
        <th class="ld-th">User Name</th>
        <th class="ld-th">SFDC ID</th>
        <th class="ld-th">Status</th>
        <th class="ld-th">Role</th>
        <th class="ld-th">Profile</th>
        <th class="ld-th">Records Routed</th>
      </tr>
    </thead>
    <tbody>
      <% if (model.routingList.length > 0) { %>
        <% model.routingList.filter(routingInfo => routingInfo.Count[model.selectedTab] > 0).forEach(function(routingInfo) { %>
          <tr>
            <td><%= routingInfo.Name %></td>
            <td><%= routingInfo.Id %></td>
            <td><%= routingInfo.Status %></td>
            <td><%= routingInfo.Role %></td>
            <td><%= routingInfo.Profile %></td>
            <td><%= routingInfo.Count[model.selectedTab] %></td>
          </tr>
        <% }); %>
      <% } else { %>
        <tr class="no-data-row">
          <td colspan="6">No Routing Usage</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
