<div id="runSummaryView">
    <div class="ld-header">
        Attribution Runs
    </div>
    <div id="oneTimeRunDiv" class="ld-section-container">
        <div class="ld-section-header">
            One-time Run
        </div>
        <div class="ld-body-large">
            Kick off a one-time Attribution run. This will delete current Marketing Touch object contents and recalculate Attribution values based on current settings.
        </div>
        <div class="ld-primary-large-button" id="oneTimeAttributionButton">Start One Time Run</div>
        <div class="cbDiv">
          <label class="cb-container-large">
            <span class="toggleText ld-field-label-large">Notify me when One-time Run is complete</span>
            <input type="checkbox" id="emailNotificationCheckbox"/>
            <span class="checkmark"></span>
          </label>
        </div>
        <input type="text" class="ld-input-large" id="emailInput" placeholder="Enter Email Addresses (mary@company.com,jim@co.org)" style="display:none">
    </div>
    
    <% if(model.oneBatchOn === 1) { %>
    <div id="batchTableHeader" class="flexHeader">
        <span class="ld-section-header">Batch Runs</span>
        <div class="ld-dropdown-small flexDropdownRight" id="runTypeDropdown">
        </div>
    </div>
    <div class="ld-table">
      <table id="attributionRunSummaryTable"></table>
    </div>
    <% } %>
</div>

<div id="runErrorView"></div>
