<div class="multiselect-dropdown-option" style="padding-bottom:5px; padding-top:5px;">
  <label class="cb-container-small">
  <div style="font-size:10px"><%= suggestion.label %></div>
  <% var check = false;
    for (var i = 0; i < this.selection.length; i++){
      if (suggestion.label === this.selection[i].label){
        check = true; break;
      }
    }
    if (check){ %>
      <input type="checkbox" checked name="multi-nestedtypeahead-checkbox" class="multi-nestedtypeahead-checkbox" label="<%= suggestion.label %>" />
    <% } else {%>
      <input type="checkbox" name="multi-nestedtypeahead-checkbox" class="multi-nestedtypeahead-checkbox" label="<%= suggestion.label %>" />
    <% } %>
    <span class="checkmark"></span>
  </label>
</div>
