<div class="partner-app-header-config-wrapper">
  <div class="<%= model.partnerName.toLowerCase() %>-icon"></div>
  <div class="partner-app-header-config ld-body-large">
    <div class="partner-name ld-subheader"><%= model.partnerName %></div>
    <%= model.summary %>
  </div>
</div>

<div class="config-instructions-wrapper partner-instructions-panel">
  <!-- instructions to be filled in via javascript -->
</div>

<div class="config-settings-wrapper partner-config-panel">
  <div class="ld-section-header"><%= model.partnerName %> Settings</div>
  <div class="authorization-section">
    <div class="ld-body-large-bold"><%= model.partnerName %> Authorization</div>
    <div>
      <div class="auth-input-label ld-body-large-bold">Application ID</div>
      <input
        class="ld-input-large"
        id="app-id-input"
        placeholder="e.g. 1abc2d34efg56h7i89j101112kl3mn145..."
      />
    </div>
    <div>
      <div class="auth-input-label ld-body-large-bold">Client Secret</div>
      <input
        type="password"
        class="ld-input-large"
        id="client-secret-input"
        placeholder="e.g. 23a3b4567c8de9f1ghi11jklmn121314o..." 
      />
    </div>
  </div>
  <% if (model.mappingFields.length > 0) { %>
    <div class="field-mapping-section">
      <div class="ld-body-large-bold"><%= model.partnerName %> Field Mapping</div>
      <div style="margin: 10px 0px; display: flex;">
        <div class="auth-column-label" style="width: 300px;">Salesforce Field</div>
        <div class="auth-column-label" style="flex: 1"><%= model.partnerName %> Field</div>
      </div>

      <!-- This for some reason isn't dynamic for each partner????? -->
      <div class="partner-apps-field-mapping-row">
        <div class="partner-apps-salesforce-field-column">
          <div class="field-mapping-label">Lead Field</div>
          <div id="leadProspectIdField-field-dropdown" class="field-mapping-dropdown">    
            <div class="ld-dropdown-large"></div>
          </div>
        </div>
        <div class="mapping-arrow">→</div>
        <div class="partner-apps-partner-field-column">Id (Outreach Internal)</div>
      </div>
      <div class="partner-apps-field-mapping-row">
        <div class="partner-apps-salesforce-field-column">
          <div class="field-mapping-label">Contact Field</div>
          <div id="contactProspectIdField-field-dropdown" class="field-mapping-dropdown">    
            <div class="ld-dropdown-large"></div>
          </div>
        </div>
        <div class="mapping-arrow">→</div>
        <div class="partner-apps-partner-field-column">Id (Outreach Internal)</div>
      </div>
      <div class="partner-apps-field-mapping-row">
        <div class="partner-apps-salesforce-field-column">
          <div class="field-mapping-label">User Field</div>
          <div id="userIdField-field-dropdown" class="field-mapping-dropdown">    
            <div class="ld-dropdown-large"></div>
          </div>
        </div>
        <div class="mapping-arrow">→</div>
        <div class="partner-apps-partner-field-column">Id (Outreach Internal)</div>
      </div>

      <div class="confirmation-section">
        <label class="cb-container-large">
          <span class="toggleText ld-body-large">
            Confirm Pushing and Outbound Update are enabled on the Lead, Contact and User settings of your 
            Outreach Salesforce Plugin.
          </span>
          <input type="checkbox" id="confirm-config-checkbox"/>
          <span class="checkmark" ></span>
        </label>
      </div>
    </div>
  <% } %>

  <div class="retry-section" style="align-items: center; display: flex; margin-bottom: 30px;">
    <div class="ld-body-large-bold">Retry Action in</div>
    <div style="margin-left: 10px;">
      <input class="ld-input-large" id="retry-time-input" type="number" min="0">
      <div id="retry-time-unit-dropdown">
          <div class="ld-dropdown-large"></div>
      </div>
    </div>
  </div>

  <div class="center-button-wrapper">
    <div class="ld-primary-large-button disabled" id="authorize-update-button">
      <%= !model.isAuthorized ? 'Authorize ' + model.partnerName : 'Update Settings'  %>
    </div>
  </div>

</div>
