/********************************** @imports **********************************/
@import 'components';
@import 'pages';

/**************************** Cross Browser Props ****************************/
%full-width {
  width: 100%;
  width: -webkit-fill-available !important;
  width: -moz-available !important;
}
%truncate-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/********************************** @colors **********************************/
// Definitions
:root {
  // greys
  --lt-grey-1: #F8F8F8;
  --lt-grey-1_5: #F2F2F2;
  --lt-grey-2: #E6E6E6;
  --med-grey-1: #B3B3B3;
  --med-grey-2: #808080;
  --dk-grey-1: #666666;
  --dk-grey-2: #4D4D4D;
  // greens
  --ld-green: #2DB670;
  --ld-lt-green-0: #EAF7F0;
  --ld-lt-green-1: #D5F0E2;
  --ld-lt-green-2: #81D3A9;
  // blues
  --ld-blue: #1B527F;
  // reds
  --ld-red: #C1272D;
  --lt-red-1: #F9E9EA;
  --lt-red-2: #ECBEC0;
  // yellows
  --lt-yellow-1: #FFF9E6;

  --white: #FFFFFF;
  --teal: #1ABC9C;
  --red: #FF0000;
}
// Classes: color
.lt-grey-1 { color: var(--lt-grey-1) !important; }
.lt-grey-1_5 { color: var(--lt-grey-1_5) !important; }
.lt-grey-2 { color: var(--lt-grey-2) !important; }
.med-grey-1 { color: var(--med-grey-1) !important; }
.med-grey-2 { color: var(--med-grey-2) !important; }
.dk-grey-1 { color: var(--dk-grey-1) !important; }
.dk-grey-2 { color: var(--dk-grey-2) !important; }
.ld-green { color: var(--ld-green) !important; }
.ld-lt-green-0 { color: var(--ld-lt-green-0) !important; }
.ld-lt-green-1 { color: var(--ld-lt-green-1) !important; }
.ld-lt-green-2 { color: var(--ld-lt-green-2) !important; }
.ld-blue { color: var(--ld-blue) !important; }
.ld-red { color: var(--ld-red) !important; }
.ld-red-1 { color: var(--ld-red-1) !important; }
.ld-red-2 { color: var(--ld-red-2) !important; }
.white { color: var(--white) !important; }
.teal { color: var(--teal) !important; }
.red { color: var(--red) !important; }
// Classes: background color
.bg-white { background-color: var(--white) !important; }

/*********************************** @font ***********************************/
:root {
  --light: 300;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  font-family: 'Open Sans', sans-serif !important;
}
// Classes: font weight
.bold { font-weight: var(--bold); }
.semi-bold { font-weight: var(--semi-bold); }

/********************************** @general **********************************/
input[type='checkbox'] {
  width: auto;
  opacity: 0.00000001;
}
