<div class="ld-body-medium">
  <div class="email-recipients-header-row">
    <div class="ld-field-label-small">Email Recipients</div>
    <div class="ld-secondary-small-button <%= classes['edit-recipients-button'] %>"><%= recipientCards.length > 0 ? 'Edit' : 'Add' %> Recipients</div>
  </div>
  <div class="<%= classes['email-recipients-wrapper'] %>">
    <% _.each(recipientCards, function(recipient) { %>
      <div class="recipient-card"><%= recipient %></div>
    <% }) %>
    <div class="<%= classes['empty-recipients-message'] %>">There are no email recipients.</div>
  </div>
  <div class="<%= classes['email-recipients-editor'] %>">
    <div class="recipient-editor-row <%= classes['next-owner-row'] %>">
      <!-- Next Owner -->
      <label class="cb-container-small">
        <div>New Owner</div>
        <input type="checkbox" 
          name="next-owner-checkbox" 
          class="notif-owner-checkbox" 
          data-owner-type="notifyPostOwner" 
          <%= recipientData.notifyPostOwner ? 'checked' : '' %> 
        />
        <span class="checkmark"></span>
      </label>
    </div>
    <!-- Previous Owner -->
    <div class="recipient-editor-row <%= classes['previous-owner-row'] %>">
      <label class="cb-container-small">
        <div>Previous Owner</div>
        <input type="checkbox" 
          name="previous-owner-checkbox" 
          class="notif-owner-checkbox" 
          data-owner-type="notifyPreOwner" 
          <%= recipientData.notifyPreOwner ? 'checked' : '' %> 
         />
        <span class="checkmark"></span>
      </label>
    </div>
    <!-- New Object Owner -->
    <div class="recipient-editor-row new-object-owner-row <%= classes['new-object-owner-row'] %>">
      <label class="cb-container-small">
        <div>Created Object Owner</div>
        <input type="checkbox" 
          name="new-object-owner-checkbox" 
          class="notif-owner-checkbox" 
          data-owner-type="notifyNewObjectOwner" 
          <%= recipientData.notifyNewObjectOwner ? 'checked' : '' %> />
        <span class="checkmark"></span>
      </label>
    </div>
    <!-- Email Addresses -->
    <div class="recipient-editor-row">
      <label class="cb-container-small">
        <div>Email Addresses</div>
        <input type="checkbox" 
          name="emails-toggle" 
          class="subcontent-toggle emails-toggle" 
          <%= !_.isEmpty(recipientData.emails) ? 'checked' : '' %> 
        />
        <span class="checkmark"></span>
      </label>
      <div class="recipient-editor-subcontent <%= !_.isEmpty(recipientData.emails) ? '' : 'hidden' %> ">
        <textarea rows="2" class="ld-textarea-large emails-text-area"><%= !_.isEmpty(recipientData.emails) ? recipientData.emails.join(', ') : '' %></textarea>
      </div>
    </div>
    <!-- Matched Objects -->
    <div class="recipient-editor-row <%= classes['matched-object-row'] %>">
      <label class="cb-container-small" style="height: fit-content;">
        <div style="display: flex;align-items: center;">
          Matched Object
          <% if (matchedObjectTypes.length === 0) { %>
            <div class="ld-tooltip-hint matched-object-recipient-tooltip"></div>
          <% } %>
        </div>
        <input type="checkbox" 
          name="matched-object-toggle" 
          class="subcontent-toggle matched-object-toggle" 
          <%= matchedObjectData.size > 0 ? 'checked' : '' %> 
          <%= matchedObjectTypes.length > 0 ? '' : 'disabled' %> 
        />
        <span class="checkmark"></span>
      </label>
      <div class="recipient-editor-subcontent <%= matchedObjectData.size > 0 ? '' : 'hidden' %>" >
        <% _.each(matchedObjectTypes, function(sobjectType) { %>
        <div class="matched-object-row">
          <label class="cb-container-small">
            <div><%= sobjectType %></div>
            <input type="checkbox" 
              name="matched-<%=sobjectType%>-checkbox" 
              class="matched-object-checkbox" 
              <%= matchedObjectData.has(sobjectType) ? 'checked' : '' %> 
              data-object-type="<%=sobjectType%>" 
            />
            <span class="checkmark"></span>
          </label>
          <div class="matched-object-dropdown matched-<%= sobjectType %>-dropdown"></div>
        </div>
        <% }) %>
      </div>
    </div>
    <!-- Additional Recipients -->
    <div class="recipient-editor-row <%= classes['additional-recipients-row'] %>">
      <label class="cb-container-small" style="height: fit-content;">
        <div style="display: flex;align-items: center;">
          Additional Recipients
        </div>
        <input type="checkbox" 
          name="additional-recipients-toggle" 
          class="subcontent-toggle additional-recipients-toggle" 
          <%= hasAdditionalObjectData ? 'checked' : '' %> 
        />
        <span class="checkmark"></span>
      </label>
      <div class="recipient-editor-subcontent additional-recipients-content <%= hasAdditionalObjectData ? '' : 'hidden' %>" ></div>
    </div>
    <!-- Button -->
    <div class="ld-secondary-small-button save-receipients-button">Done</div>
  </div>
  <div class="error-message email-recipients-error-messages"></div>
</div>