<div class="dropdown graph-settings-menu">
    <style>
        .graph-settings-menu:not(.open) .toggleButtonIcon.selected {
            display: none;
        }
        .graph-settings-menu.open .toggleButtonIcon.selected, .graph-settings-menu:hover .toggleButtonIcon.selected {
            display: inherit;
        }
        .graph-settings-menu.open .toggleButtonIcon.unselected, .graph-settings-menu:hover .toggleButtonIcon.unselected {
            display: none;
        }
        .graph-settings-menu .dropdown-toggle {
            text-align: center;
        }
        .graph-settings-menu .dropdown-menu {
            margin-left: 5px;
            padding-left: 10px;
            width: 270px;
            border-radius: 0;
        }
    </style>

    <a class="graph-settings-menu-button dropdown-toggle" href="javascript: void(0);">
        <img class="toggleButtonIcon unselected" src="<%=resourceURL%>/images/Header_Bar_Settings_Icon_unselected.png" title="Graph Settings" height="25px" />
        <img class="toggleButtonIcon selected" src="<%=resourceURL%>/images/Header_Bar_Settings_Icon_selected.png" title="Graph Settings" height="25px" />
    </a>

    <ul class="dropdown-menu graph-settings-menu-list" aria-labelledby="graph-settings-menu-button" style="float: right; position: relative;">
        <div id="export-png-button" class="ld-secondary-small-button">Export Graph as Image (.png)</div>
        <hr class ="horizontal-line-separator-small">
        <%_.each(checkboxItems, function(item) {%>
        <li class="dropdown-menu-item">
            <label class="cb-container-large">
              <span class="ld-field-label-large"><%=item.label%></span>
              <input type="checkbox" id="<%=item.name%>" name="<%=item.name%>" <%=item.value ? 'checked' : ''%> class="checkboxSetting" value="<%=item.value%>" />
              <span class="checkmark" ></span>
            </label>
        </li>
        <%});%>
    </ul>
</div>
