<div class="partner-apps-wrapper">
  <div class="breadCrumbContainer">
      <span class="ld-breadcrumb static" id="return-to-partner-apps">Partner Apps</span>
      <div class="crumbArrow"> &gt; </div>
      <span class="ld-breadcrumb disabled"><%= model.selectedPartnerName %></span>
  </div>
  <div class="ld-header-wrapper-margins">
    <div class="ld-header ld-header-bottom-margin">Partner Apps</div>
  </div>
  <% if (!dashboardController.viewObject.featureProvisioning['integrations enabled'] || dashboardController.viewObject.featureProvisioning['integrations enabled'] === '0') { %>
  <div
    class="messaging-section ld-body-large"
    style="padding: 10px 20px; margin-bottom: 20px;"
    >
    <span>Contact us today to take advantage of Partner Apps!</span>
    <a href="mailto:support@leandatainc.com" target="_blank" style="margin-left: 10px;">
      <div class="ld-primary-small-button">Contact Us</div>
    </a>
  </div>
  <% } else { %>
  <div
    class="messaging-section ld-body-large"
    style="padding: 10px 20px; margin-bottom: 20px;"
    >
    <span>
      Welcome to LeanData Partner Apps! Access to Partner Integrations is free until the end of contract. Contact your CSM for details.
    </span>
  </div>
  <% } %>
  <div class="ld-body-large partner-apps-summary">
      LeanData makes it easier than ever to automate actions throughout your
      Technology Stack. The available integrations will empower you with a new
      set of functionality that streamlines common workflows. With FlowBuilder
      Integrations, you can now initiate actions in Partner tools backed by the
      power of LeanData and simplified with the ease of FlowBuilder. Please
      reach out to
      <a href="mailto:integrations@leandatainc.com">
        integrations@leandatainc.com
      </a>
      with any questions.
  </div>
  <div class="partner-apps-content"></div>
</div>
