<div class="partner-card-wrapper">
  <div class="<%= model.partnerName.toLowerCase() %>-icon"></div>

  <% if (!model.isAuthorized) { %>
    <div class="partner-content ld-body-large">
      <div class="partner-name ld-section-header"><%= model.partnerName %></div>
      <div style="margin-bottom: 10px;">
        <%= model.summary %>
      </div>
      <div>
        <div id="learn-more" class="ld-link" style="color: black;">
          Learn More
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="partner-content">
      <div class="partner-name ld-section-header"><%= model.partnerName %></div>
      <div class="ld-body-large">
        <div>Authorized</div>
        <div><%= model.authorizedDate %></div>
        <div><%= model.authorizedBy %></div>
        <div
          class="ld-body-large ld-link"
          id="disable-authorization"
          style="margin-top: 10px;"
        >
          Disable Authorization
        </div>
    </div>
  <% } %>

  <!-- temporarily use partner name to identify (to open the right) -->
  <div class="center-button-wrapper">
    <% if (!Magellan.Models.Provisioning.isPartnerEnabled(model.partnerName.toLowerCase())) { %>
    <div class="ld-secondary-small-button action-button disabled" style="color: #B3B3B3; background-color: #E6E6E6;">
      <%= 'Authorize ' + model.partnerName %>
    </div>
    <% } else { %>
    <div class="ld-secondary-small-button action-button <%= model.partnerName%>" data-partnername="<%= model.partnerName %>">
      <%= model.isAuthorized ? 'Update Settings' : 'Authorize ' + model.partnerName %>
    </div>
    <% } %>
  </div>
</div>
