<div class="auth_panel">
    <div style="display: flex;justify-content: flex-end;">
      <div class="show_authorization">
          <span>Show Authorization</span>
      </div>
    </div>
    <div class="authorization-div" style="display:none;">
        <div style="padding: 20px">
            <span class="auth_text">Authorization Link | </span>
            <span class="dg_inner-wrapper-subheader">Enable LeanData product monitoring and access performance reports</span>
            <div class="hide_authorization">
                <span>Hide This</span>
            </div>
        </div>
        <div class="authorization-content">
            <img class="installation-complete" src="<%= iconToURLMap['Complete Button'] %>">
            <a class="authorization-link" href="<%= _.escape(globalAuthorizationLink) %>" target="_blank" style="display:none">
                <div class="authorize-button-token ld-primary-small-button"> Authorize Salesforce Token
                </div>
            </a>
        </div>
    </div>
</div>

<div class="home-component">
    <div class="ld-subheader graph-name">Routing Usage</div>
    <span class="graph-date-range"> <%=model.startDate + ' - ' + model.endDate%></span>
    <div class="ld-primary-small-button detailed-report-button">Detailed Report</div>
    <div class="line-graph-wrapper"></div>
    <div class="icon-container">
        <div class="row" id="first-row">
            <% _.map(model.firstRowIconNameToPageName, function(pageName, iconName) { %>
                <div class="icon <%=iconName.toLowerCase() + '-product'%> col col-xs-3" data-page-name="<%=pageName%>" data-icon-name="<%=iconName%>">
                    <div class="thumbnail product-icon-button">
                        <div class="dg_section-nav-image <%=iconName.toLowerCase() + '-image'%>"></div>
                        <div class="dg_section-nav-title"> <%=iconName%> </div>
                        <img class="promo-upgrade-ribbon" src="<%= iconToURLMap['Upgrade Sash'] %>" />
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="row">
            <% _.map(model.secondRowIconNameToPageName, function(pageName, iconName) { %>
                <div class="icon col <%=iconName.toLowerCase()%> <%= iconName === 'Admin' ? 'col-xs-offset-3' : ''%> col-xs-3" data-page-name="<%=pageName%>" data-icon-name="<%=iconName%>">
                    <div class="thumbnail product-icon-button">
                        <div class="dg_section-nav-image <%=iconName.toLowerCase() + '-image'%>"></div>
                        <div class="dg_section-nav-title"><%=iconName%></div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="home-component-popover-container"></div>
</div>
