<div id="control-container" style="display:block;">
  <span id="export-routing-usage-btn" class="ld-secondary-small-button" style="line-height:2;">Export Routing Usage</span>
  <div class="query-options-container">
    <div class="hide-inactive-users-container">
      <label class="cb-container-small ld-field-label-small">
          <span>Hide Inactive Users</span>
          <input id="hide-inactive-users" class="hide-inactive-users-checkbox" type="checkbox" data-id="all" <%= model.hideInactiveUsers ? 'checked' : '' %> />
          <span class="checkmark"></span>
      </label>
    </div>
    <div class="start-date-container">
        <input id="start-datepicker" class="dg_date-input" value="<%= queryStartDate || '' %>" data-field-name="queryStartDate" />
        <label class="ld-date-label" for="start-datepicker"></label>
    </div>
    <label class="date-text">to</label>
    <div class="end-date-container">
        <input id="end-datepicker" class="dg_date-input"  value="<%= queryEndDate || '' %>" data-field-name="queryEndDate" />
        <label class="ld-date-label" for="end-datepicker"></label>
    </div>
  </div>
</div>
