<div class="header-font">Update <%=model.get('object')%> Fields</div>
<div style="font-size:11px">Specify <%=model.get('object').toLowerCase()%> fields and values to update.</div>
<div class="update-header row" style="margin-top:5px">
    <div class="update-field-column header-font col-xs-4">Field</div>
    <div class="update-value-column header-font col-xs-4">New Value</div>
    <div class="update-delete-column col-xs-2"></div>
</div>
<div class="sofu-field-updates-list">

</div>
<div class="add-rule-container row" style="margin-top: 10px; clear: both">
    <div class="add-rule-row-item col-xs-12">
        <div class="add-rule-div"></div>
        <div class="header-font">Add field</div>
        <div class="empty-row-space"></div>
    </div>
</div>