<div class="update-row row">
    <div class="update-field-column sofu-field-selector col-xs-4">
        <!-- append NestedFieldSelector with object's fields here -->
    </div>
    <div class="update-value-column col-xs-4">
        <input class="sofu-update-value width-fill ld-default-input" value="<%= update.get('value') %>" />

        <div class="sofu-ld-dropdown hidden"></div>
        <div class="sofu-ld-typeahead hidden"></div>
    </div>
    <div class="sofu-delete-column col-xs-2"></div>
</div>