<div class="modal fade confirmation-modal">
    <div class="modal-dialog" style="width: fit-content;">
        <div class="modal-content" style="height:initial">
            <div class="dg_inner-wrapper-header" style="display:flex;justify-content:center;align-items:center;margin-top:10px;">
                <%=header%>
            </div>
            <div class="modal-content-section" style="height:initial;padding:30px 20px">
                <div class="modal-content-text" style="height:initial"><%=message%></div>
                <div class="modal-content-extra" style="height:initial;padding-top:20px"><%=footer%></div>
            </div>
            <div class="modal-button-section" style="height:initial;padding-bottom:20px">
                <% if(!hideSecondaryButton) { %>
                <span class="ld-tertiary-large-button cancel-button" data-dismiss="modal"><%=secondaryButtonText%></span>
                <% } %>
                <span class="ld-primary-large-button confirm-button" data-dismiss="modal"><%=primaryButtonText%></span>
            </div>
        </div>
    </div>
</div>
