<% if(!model.viewSpecificSettingCategory) { %>
<div class="breadCrumbContainer">
    <span class="ld-breadcrumb static" id="summaryViewLink">Attribution Change Logs</span>
    <div class="crumbArrow">&gt;</div>
    <span class="ld-breadcrumb disabled"><%= model.selectedLog.Settings_Page__c %></span>
</div>

<% } else { %>
<!-- breadcrumbs for viewing a specific category -->
<div class="breadCrumbContainer">
    <span class="ld-breadcrumb static" id="summaryViewLink">Attribution Change Logs</span>
    <div class="crumbArrow">&gt;</div>
    <span class="ld-breadcrumb static" id="detailViewLink"><%= model.selectedLog.Settings_Page__c %></span>
    <div class="crumbArrow">&gt;</div>
    <span class="ld-breadcrumb disabled"><%= _.escape(model.selectedComparisonObj.name) %></span>
</div>
<% } %>

<div class="ld-header">
    <% if (!model.viewSpecificSettingCategory) { %>
        <%= model.selectedLog.Settings_Page__c %>
    <% } else { %>
        <%= _.escape(model.selectedComparisonObj.name) %>
    <% } %>
</div>
<div class="ld-subheader">
    <%= model.selectedLog.User__r.Name %> - <%= formatMomentDate((model.selectedLog.CreatedDate), dateFormat, true) %>
</div>

<% if (!model.viewSpecificSettingCategory) { %>        
<table id="comparisonTable"> 
    <tbody>   
        <% _.each(model.settingsComparisonObjs, function(settingsComparisonObj, index) { %>
        <!-- Skip the object if there's no added, removed and overlap settings -->
        <% if (settingsComparisonObj.addedSettings.length === 0 && settingsComparisonObj.removedSettings.length === 0 && settingsComparisonObj.overlapSettings.length === 0) return; %>
        <tr class="settingsCategory">
            <td class="categoryLabelDiv">
                <div class="ld-body-large"><%= _.escape(settingsComparisonObj.name) %></div>
                <div class="categoryLink ld-body-medium ld-link" index="<%=index%>"><%= _.escape(settingsComparisonObj.name) %> Settings</div>
            </td>
            <!-- added settings -->
            <td class="comparedSetting">
                <div class="addedSettingHeader">Added</div>
                <% _.each(settingsComparisonObj.addedSettings, function(addedSetting, index) { %>
                    <div class="addedSetting ld-table-data-large"><%= _.escape(addedSetting) %></div>
                <% }) %>
            </td>
            <!-- removedsettings -->
            <td class="comparedSetting">
                <div class="removedSettingHeader">Removed</div>
                <% _.each(settingsComparisonObj.removedSettings, function(removedSetting, index) { %>
                    <div class="removedSetting ld-table-data-large"><%= _.escape(removedSetting) %></div>
                <% }) %>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>


<!--Below is when user views a specific setting category  -->
<% } else { %>
    
<div>
    <!-- current settings -->
    <div class="settingsListDiv">
        <div class="ld-th">Current Settings</div>
        <% _.each(model.selectedComparisonObj.addedSettings, function(addedSetting, index) { %>
        <div class="addedSetting ld-table-data-large"><%= _.escape(addedSetting) %></div>
        <% }) %>
        <% _.each(model.selectedComparisonObj.overlapSettings, function(setting, index) { %>
        <div class="overlapSetting ld-table-data-large"><%= _.escape(setting) %></div>
        <% }) %>
    </div>
    <!-- previous settings -->
    <div class="settingsListDiv">
        <div class="ld-th">Previous Settings</div>
        <% _.each(model.selectedComparisonObj.removedSettings, function(removedSetting, index) { %>
        <div class="removedSetting ld-table-data-large"><%= _.escape(removedSetting) %></div>
        <% }) %>
        <% _.each(model.selectedComparisonObj.overlapSettings, function(setting, index) { %>
        <div class="overlapSetting ld-table-data-large"><%= _.escape(setting) %></div>
        <% }) %>
    </div>
</div>

<% } %>
