<table id="logs-table" class="table table-striped sticky">
  <thead class="table-header">
    <tr class="log-table-header">
      <th>
        <span><%= objectType.toUpperCase() %></span>
      </th>
      <th>
        <span>ACTION</span>
      </th>
      <th>
        <span>PATH</span>
      </th>
    </tr>
  </thead>
  <tbody class="table-body">
    <% _.each(logs, function(log, logIndex) { %>
    <% try { %>
    <tr>
      <td data-name="Lead" class="flowbuilder-logs-table-data">
        <!-- [BEGIN] Prints all visible lead field and value -->
        <% _.each(objectParameters, function(objectParameter) { %>
        <div>
          <span class="blue-parameter-font">
            <%= _.capitalize(objectParameter) %>: 
          </span>
          <% var objectParameterValue = log.attributes[objectParameter]; %>
          <% if (objectParameter === 'name') { %>
          <a target="_blank" href="<%= sobjLinkPrefix + log.attributes.id %>">
            <span class="black-parameter-font" style="text-decoration: underline">
              <%= objectParameterValue %>
            </span>
          </a>
          <% } else { %>
          <span class="black-parameter-font">
            <%= objectParameterValue %>
          </span>
          <% } %>
        </div>
        <% }); %>

        <% if (railsPage) { %>
        <div>
          <span class="blue-parameter-font">
            CCIO Created At: 
          </span>
          <span class="black-parameter-font">
            <%= logsFormatDate(log["ccio created at"]) %>
          </span>
        </div>
        <div>
          <span class="blue-parameter-font">
            CCIO Processed At: 
          </span>
          <span class="black-parameter-font">
            <%= logsFormatDate(log["completed at"]) %>
          </span>
        </div>
        <% }  else { %>
        <div>
          <span class="blue-parameter-font">
            Processed At:
          </span>
          <span class="black-parameter-font">
            <%= logsFormatDate(log["processed at"]) %>
          </span>
        </div>
        <% } %>

        <% if(log['graph id'] !== 'tagging deployment'){ %>
          <div>
            <% if(log['ccio type'] === 'LiveRoutingInsert' || log['ccio type'] === 'LiveRoutingUpdate') { %>
              <span class="blue-parameter-font">
                Live Routing Rules:
              </span>
              <a target="_blank" href="/<%= 'apex/' + ns + 'Dashboard#routing/round_robin_live_routing' %>">
                <span class="black-parameter-font" style="text-decoration: underline;">View Conditions</span>
              </a>
            <% } else { %>
              <span class="blue-parameter-font">
                Routing Deployment:
              </span>
              <a target="_blank" href="/<%= 'apex/' + ns + 'Dashboard#routing/' + log['sobject type'].toLowerCase() + '/insights/' + log['graph id'] %>">
                <span class="black-parameter-font" style="text-decoration: underline;"><%= log["graph id"] %></span>
              </a>
              <% if(log['ccio type'] === 'RoutingOnly'){ %>
              <span class="black-parameter-font"> (One-Time)</span>
              <% } %>
            <% } %>
          </div>
        <% } %>
        <!-- [END] Prints all visible lead field and value -->

        <!-- [BEGIN] Create collapsable group for More Info -->
        <div class="collapse-group">
          <div class="collapse-clickable" style="cursor: pointer; font-weight: bolder;">
            <br/>
            <span class="black-parameter-font">More Info   </span>
            <span class="expand-glyph"></span>
          </div>
          <div class="collapse-toggleable">
            <ul class="optional-keys-ul" style="list-style: none;">
              <% _.each(hiddenKeys, function(hiddenKey) { %>
              <li class="optional-key-li-no-margin">
                <span class="blue-parameter-font">
                  <%= hiddenKey %>: 
                </span>
                <span class="black-parameter-font">
                  <% var hiddenValue = log.attributes[hiddenKey]; %>
                  <% var isDateValue = isValidDate(hiddenValue); %>
                  <% if (isDateValue) { %>
                  <%= hiddenValue ? logsFormatDate(hiddenValue) : "" %>
                  <% } else { %>
                  <%= hiddenValue || "" %>
                  <% } %>
                </span>
              </li>
              <% }); %>
              <% var eHiddenKeys = extraHiddenKeys(log); %>
              <% _.each(eHiddenKeys, function(extraHiddenKey) { %>
              <li class="optional-key-li-no-margin">
                <span class="blue-parameter-font">
                  <%= extraHiddenKey %>:
                </span>
                <span class="black-parameter-font">
                  <% var extraHiddenValue = log.attributes[extraHiddenKey]; %>
                  <% var isDateValue = isValidDate(extraHiddenValue); %>
                  <% if (isDateValue) { %>
                  <%= extraHiddenValue ? logsFormatDate(extraHiddenValue) : "" %>
                  <% } else { %>
                  <%= extraHiddenValue || "" %>
                  <% } %>
                </span>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
        <!-- [END] Create collapsable group for More Info -->

      </td>
      <td data-name="Action" class="flowbuilder-logs-table-data">

        <!-- [START] Print Routing Action -->
        <div>
          <% var errorKeys = ["convert error", "merge error", "update error", "fallback error", "email notification error"]; %>
          <% var oldErrorKeys = ["error", "convert_error"]; %>
          <% var error = _.reduce(_.union(errorKeys, oldErrorKeys), function(error, errorKey) { return !_.isEmpty(error) ? error : (!_.isEmpty(log[errorKey]) ? log[errorKey] : null); }, null); %>

          <% var routingMessageAndFontClass = formatRoutingAction(log); %>
          <% var routingAction = routingMessageAndFontClass.message; %>
          <% var fontClass = routingMessageAndFontClass.fontClass; %>

          <span class="<%= fontClass %>">
            <%= routingAction %>
          </span>
        </div>
        <!-- [END] Print Routing Action -->

        <!-- [START] Print (optional) Error Message -->
        <% if (error) { %>
        <div style="line-height: 12px;">
          <span class="red-parameter-font">
            <%= error %>
          </span>
        </div>
        <% } %>
        <!-- [END] Print (optional) Error Message -->

        <!-- [START] Print Triggering Action for Routing Logs -->
        <% if (!taggingPreviewPage) { %>
        <% var triggeringAction = log["ccio type"]; %>
        <% if (triggeringAction.toLowerCase().includes("insert")) { %>
        <% triggeringAction = "Insert"; %>
        <% } else if (triggeringAction.toLowerCase().includes("update")) { %>
        <% triggeringAction = "Update"; %>
        <% } else if (triggeringAction.toLowerCase().includes("routingonly")) { %>
        <% triggeringAction = "One-Time Routing"; %>
        <% } else if (triggeringAction.toLowerCase().includes("routingscheduled")) {%>
        <% triggeringAction = "Time-based"; %>
        <% } %>
        <div>
          <span class="blue-parameter-font">
            Triggering Action: <%= triggeringAction %>
          </span>
        </div>
        <% } %>
        <!-- [END] Print Triggering Action for Routing Logs -->
        <!-- [START] Print New Owner and Previous Owner for Routing Logs -->
        <!-- Third condition is when there was an assignment but there is no routing of owner, don't show New/Previous Owners -->
        <% if (!taggingPreviewPage && log["primary routing action"].toUpperCase() !== "MERGED" && (!(log["primary routing action"].toUpperCase().includes("ASSIGNED") && !log["primary routing action"].toUpperCase().includes("ROUTED")))) { %>
        <% var postOwnerString = 'Post-Owner:'; %>
        <% if(log["conversion"]) postOwnerString = postOwnerString + ' (Contact)'; %>
        <div>
          <span class="blue-parameter-font">
            <%= postOwnerString %>
          </span>
          <a target="_blank" href="/<%= log['post-owner id'] %>">
            <span class="black-parameter-font" style="text-decoration: underline;">
              <%= log["post-owner name"] %>
            </span>
          </a>
        </div>
        <div>
          <span class="blue-parameter-font">
            Pre-Owner: 
          </span>
          <a target="_blank" href="/<%= log['pre-owner id'] %>">
            <span class="black-parameter-font" style="text-decoration: underline;">
              <%= log["pre-owner name"] %>
            </span>
          </a>
        </div>
        <% } %>
        <!-- [END] Print New Owner and Previous Owner for Routing Logs -->
        <!-- [START] Print New Owner and Previous Owner for Primary Account Update Logs -->
        <% if (log['update account owner'] != undefined) { %>
        <div>
          <span class="blue-parameter-font">
            New Account Owner: 
          </span>
          <a target="_blank" href="/<%= log['update account owner'] %>">
            <span class="black-parameter-font" style="text-decoration: underline;">
              <%= log["update account name"] || log['update account owner'] %>
            </span>
          </a>
        </div>
        <div>
          <span class="blue-parameter-font">
            Previous Account Owner: 
          </span>
          <a target="_blank" href="/<%= log['pre-account owner id'] %>">
            <span class="black-parameter-font" style="text-decoration: underline;">
              <%= log["pre-account owner name"] %>
            </span>
          </a>
        </div>
        <% } %>
        <!-- [END] Print New Owner and Previous Owner for Primary Account Update Logs -->
        <!-- [START] Print New Owner and Previous Owner for Routing Logs -->
        <% if (!taggingPreviewPage && log["primary routing action"].toUpperCase() !== "MERGED" && log["primary routing action"].toUpperCase().includes("ASSIGNED")) { %>
        <div>
          <span class="blue-parameter-font">
            New <%= log["assignment field label"] %>: 
          </span>
          <a target="_blank" href="/<%= log['assignment field new'] %>">
            <span class="black-parameter-font" style="text-decoration: underline;">
              <%= log["assignment field username"] %>
            </span>
          </a>
        </div>
        <div>
          <span class="blue-parameter-font">
            Previous <%= log["assignment field label"] %>: 
          </span>
          <a target="_blank" href="/<%= log['assignment field previous'] %>">
            <span class="black-parameter-font" style="text-decoration: underline;">
              <%= log["assignment field username previous"] %>
            </span>
          </a>
        </div>
        <% } %>
        <!-- [END] Print New Assignment Field and Previous Assignment Field for Routing Logs -->
        <!-- [START] Print (optional) Matched Record Summary -->
        <% var matchedRecord = getMatchedRecordForLog(log, graphIdToNodeNameToNode); %>
        <% if (matchedRecord && matchedRecord["matched record id"]) { %>
        <hr class="dashed-border">
        <div>
          <span class="green-parameter-font">
            <%= matchedRecord["match type"].toUpperCase() %> - 
          </span>
          <a target="_blank" href="<%= sobjLinkPrefix + matchedRecord['matched record id'] %>">
            <span class="blue-parameter-font">
              <%= matchedRecord["name"] || matchedRecord["matched record id"] %>
            </span>
          </a>
        </div>
        <% } %>
        <!-- [END] Print (optional) Matched Record Summary -->

        <!-- [START] Print (optional) Matched Record More Info -->
        <% if (matchedRecord && matchedRecord["matched record id"]) { %>
        <div class="collapse-group">
          <div class="collapse-clickable" style="cursor: pointer; font-weight: bolder;">
            <span class="black-parameter-font">More Info   </span>
            <span class="expand-glyph"></span>
          </div>
          <div class="collapse-toggleable">
            <ul class="optional-keys-ul" style="list-style: none;">
              <% _.each(getAttributesForMatchedRecord(matchedRecord["matched record"]), function(listItem) { %>
              <li class="optional-key-li-no-margin">
                <span class="blue-parameter-font"><%= listItem[0] %>: </span>
                <span class="black-parameter-font"><%= listItem[1] %></span>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
        <% } %>
        <!-- [END] Print (optional) Matched Record More Info -->

      </td>
      <td data-name="Path" class="flowbuilder-logs-table-data">
        <% var matchedObject; %>
        <% var matchedObjectType; %>
        <% if (!graphIdToNodeNameToNode[log["graph id"]]) return; %>

        <!-- [START] Print each Node Log in route -->
        <% _.each(log.route, function(node, idx) { %>
        <% var fullNode = graphIdToNodeNameToNode[log["graph id"]][node.name]; %>

        <% var matchList, totalMatchedObjects; %>
        <% var matchTypeLabel; %>
        <% var nodeTypeLabel = fullNode.type %>

        <% if (fullNode.type === "MATCH") { %>
        <% if (fullNode.objectType === "Dupe") { %>
        <% matchList = log["dupe leads"]; totalMatchedObjects = log["total dupe leads"];%>
        <% matchTypeLabel = "Matched Duplicate Leads";%>
        <% nodeTypeLabel = "MATCH NODE - Dupe Leads"; %>
        <% } else if (fullNode.objectType === "DupeC") { %>
        <% matchList = log["dupe contacts"]; totalMatchedObjects = log["total dupe contacts"];%>
        <% matchTypeLabel = "Matched Duplicate Contacts";%>
        <% nodeTypeLabel = "MATCH NODE - Dupe Contacts"; %>
        <% } else if (fullNode.objectType === "L2A") { %>
        <% matchList = log["matched accounts"]; totalMatchedObjects = log["total matched accounts"]; %>
        <% matchTypeLabel = "Matched Accounts";%>
        <% nodeTypeLabel = "MATCH NODE - L2A"; %>
        <% } else if (fullNode.objectType === "L2L") { %>
        <% matchList = log["matched leads"]; totalMatchedObjects = log["total related leads"]; %>
        <% matchTypeLabel = "Matched Leads";%>
        <% nodeTypeLabel = "MATCH NODE - L2L"; %>
        <% } else if (fullNode.objectType === "L2O") { %>
        <% matchList = log["matched opportunities"]; %>
        <% matchTypeLabel = "Matched Opportunities";%>
        <% nodeTypeLabel = "MATCH NODE - L2O"; %>
        <% } else if (fullNode.objectType === "C2O") { %>
        <% matchList = log["matched opportunities"]; %>
        <% matchTypeLabel = "Account's Opportunities";%>
        <% nodeTypeLabel = "MATCH NODE - C2O"; %>
        <% } else if (fullNode.objectType === "C2C") { %>
        <% matchList = log["matched contacts"]; %>
        <% matchTypeLabel = "Account's Contacts";%>
        <% nodeTypeLabel = "MATCH NODE - C2C"; %>
        <% } else if(fullNode.objectType === 'A2O') { %>
        <% matchList = log["matched opportunities"]; %>
        <% matchTypeLabel = "Account's Opportunities";%>
        <% nodeTypeLabel = "MATCH NODE - A2O"; %>
        <% } else if(fullNode.objectType === 'O2O') {%>
        <% matchList = log["matched opportunities"];%>
        <% matchTypeLabel = "Matched Opportunities"; %>
        <% nodeTypeLabel = "MATCH NODE - O2O"; %>
        <% } else if(fullNode.objectType === 'O2C') {%>
        <% matchList = log['matched contacts']; %>
        <% matchTypeLabel = "Opportunity's Contacts"; %>
        <% nodeTypeLabel = "MATCH NODE - O2C"; %>
        <% } %>
        <% } else if (fullNode.type === 'REROUTING') {
          nodeTypeLabel = node["next routing time"] ? 'PENDING ROUTE' : 'TIME-BASED ROUTE';
        } %>

        <div class="route-node">
          <span class="left-column-text">
            <% if (fullNode.type === "TRIGGER" || fullNode.type === "UPDATE TRIGGER") { %>
            <img class="log-node" src="<%= imageURLs['trigger node'] %>" style="height: 22px; width: 22px; margin-top: 3px;">
            <% } else if (fullNode.type === "ACTION") { %>
            <img class="log-node" src="<%= imageURLs['action node'] %>" style="height: 14px; width: 30px; margin-top: 4px;">
            <% } else if (fullNode.type === "PARTNER NODE") { %>
            <img class="log-node" src="<%= imageURLs['partner node'] %>" style="height: 14px; width: 30px; margin-top: 4px;">
            <% } else if (fullNode.type === "DECISION") { %>
            <img class="log-node" src="<%= imageURLs['decision node'] %>" style="height: 17px; width: 24px; margin-top: 3px;">
            <% } else if (fullNode.type === "REROUTING") { %>
            <img class="log-node" src="<%= imageURLs['reroute node'] %>" style="height: 20px; width: 21px; margin-top: 2px;">
            <% } else if (fullNode.type === "MATCH") { %>
            <img class="log-node" src="<%= imageURLs['match node'] %>" style="height: 20px; width: 21px; margin-top: 2px;">
            <% } %>
          </span>

          <span class="right-column-text">
            <div class="blue-parameter-font">
              <%= (fullNode.name === 'Reroute') ? 'Time-based' : _.escape(fullNode.name) %>
            </div>
            <div class="green-parameter-font">
              <%= nodeTypeLabel %>
            </div>

            <!-- [START] Print More Info for ACTION type nodes -->
            <% var isActionNode = (fullNode.type === "ACTION"); %>
            <% var isPartnerNode = (fullNode.type === "PARTNER NODE"); %>
            <% var isCustomInterface = (isActionNode && fullNode.actionType === "Custom Interface"); %>
            <% var isUpdateAction = (isActionNode && (fullNode.actionType === "Update Lead" || fullNode.actionType === "Update Contact" || fullNode.actionType === "Update Account" || fullNode.actionType === "Update Opportunity")); %>

            <!-- 1. Always print "More Info" for Custom Interface -->
            <!-- 2. Never print "More Info" for Update Lead/Contact -->
            <!-- 3. Print "More Info" if Action Node goes through "Next Node" AND is not Update Error -->
            <% if (isCustomInterface || fullNode.actionType === "Route To Territory" || ((isActionNode || isPartnerNode) && !isUpdateAction) || node["edge"] == "Not Available For Routing") { %>
            <div class="collapse-group">
              <div class="collapse-clickable" style="cursor: pointer; font-weight: bolder;">
                <span class="black-parameter-font">More Info   </span>
                <span class="expand-glyph"></span>
              </div>
              <div class="collapse-toggleable" style="width:225px;">
                <ul class="optional-keys-ul">
                  <!-- [START] Print Round Robin Attributes -->
                  <% if (fullNode.actionType === "Round Robin" || fullNode.actionType === "Route To Territory") { %>
                    <% var poolId = node["Territory"] != null ? node["round robin id"] : fullNode["round robin id"] %>
                    <% var poolName = node["Territory"] != null ? node["round robin group"] : fullNode["round robin group"] %>
                    <% if (fullNode.actionType === "Route To Territory") { %>
                      <li>
                        <span class="blue-parameter-font">
                          Territory Segment:
                        </span>
                        <span>
                          <%= node["Segment"] %>
                        </span>
                      </li>
                      <% if(node["Territory"] != null) { %>
                        <li class="optional-key-li-no-margin">
                          <span class="blue-parameter-font">
                            Territory:
                          </span>
                          <span>
                            <%= node["Territory"] %>
                          </span>
                        </li>
                        <li>
                          <span class="blue-parameter-font">
                            Fields Used For Assignment:
                          </span>
                          <span>
                            <%= node["Fields Used For Assignment"] %>
                          </span>
                        </li>
                      <% } %>
                    <% } %>
                    <% if (poolId != null) { %>
                                        <li class="optional-key-li-no-margin">
                      <span class="blue-parameter-font">
                        Round Robin Pool Id: 
                      </span>
                      <span>
                        <%= poolId %>
                      </span>
                                        </li>
                    <li class="optional-key-li-no-margin">
                        <span class="blue-parameter-font">
                          Round Robin Pool Name: 
                        </span>
                        <span>
                          <%= poolName %>
                        </span>
                                        </li>
                    <% } %>
                    <% if((node["assignment field name"] != null || fullNode.actionType != 'Route To Territory') && node["edge"] != "Not Available For Routing") { %>
                    <li class="optional-key-li-no-margin">
                      <span class="blue-parameter-font">
                        New <%= node["assignment field name"] %>: 
                      </span>
                      <span>
                        <a target="_blank" href="/<%= node['assignment field new'] %>">
                          <%= node["assignment field new"] %>
                        </a>
                      </span>
                    </li>
                    <li class="optional-key-li-no-margin">
                      <span class="blue-parameter-font">
                        Previous <%= node["assignment field name"] %>:
                      </span>
                      <span>
                        <a target="_blank" href="/<%= node['assignment field previous'] %>">
                          <%= node["assignment field previous"] %>
                        </a>
                      </span>
                    </li>
                    <% } %>
                    <% if(node["edge"] === "Not Available For Routing") { %>
                    <li class="optional-key-li-no-margin">
                      <span class="blue-parameter-font">
                        Not Available Reason
                      </span>
                      <span>
                        <%= node["not available reason"] %>
                      </span>
                    </li>
                    <% } %>
                  
                  <!-- [END] Print Round Robin Attributes -->

                  <!-- [START] Print Merge Dupe Lead/Contact Attributes -->
                  <% } else if (fullNode.actionType === "Merge Dupe Lead" || fullNode.actionType === "Merge Dupe Contact") { %>
                  <% if (fullNode.actionType === "Merge Dupe Contact") { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Merge Status: 
                    </span>
                    <span>
                      <%= fullNode["merge status"] %>
                    </span>
                  </li>
                  <% } %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Dupe Id: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['dupe id'] %>">
                        <%= node["dupe id"] %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Dupe Preference: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['dupe preference'] %>">
                        <%= node["dupe preference"] %>
                      </a>
                    </span>
                  </li>
                  <!-- [START] Print Merge Dupe Lead/Contact Attributes -->

                  <!-- [START] Print Convert Lead Attributes -->
                  <% } else if (fullNode.actionType === "Convert Lead") { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Convert Status: 
                    </span>
                    <span>
                      <%= fullNode["convert status"] %>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Create Opportunity: 
                    </span>
                    <span>
                      <%= !fullNode.doNotCreateOpportunity %>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Account Id: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['account id'] %>">
                        <%= node["account id"] %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Contact Owner Id: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%= node['contact owner id'] %>">
                        <%= node["contact owner id"] %>
                      </a>
                    </span>
                  </li>
                  <!-- [END] Print Convert Lead Attributes -->
                  
                  <!-- [START] Print Route to Contact Attributes -->
                  <% } else if (["Route to Contact"].includes(fullNode.actionType)) { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      CBR Type: 
                    </span>
                    <span>
                      <%= fullNode["routing type"] %>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Contact Id: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['contact id'] %>">
                        <%= node["contact id"] %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Owner Id: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['owner id'] %>">
                        <%= node["owner id"] %>
                      </a>
                    </span>
                  </li>
                  
                  <!-- [END] Print Route to Contact Attributes -->
                  

                  <!-- [START] Print Opportunity Based Routing Attributes -->
                  <% } else if (["Opportunity Based Routing", "Assign Owner Opportunity", "Route to Opportunity", "Route to Matched Opportunity"].includes(fullNode.actionType)) { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      OBR Type: 
                    </span>
                    <span>
                      <%= fullNode["obr type"] %>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Opportunity Id: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['opportunity id'] %>">
                        <%= node["opportunity id"] %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Owner Id: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%= node['owner id'] %>">
                        <%= node["owner id"] %>
                      </a>
                    </span>
                  </li>
                  <!-- [END] Print Opportunity Based Routing Attributes -->

                  <!-- [START] Print Account Based Routing / Route to Account / Route to Matched Account Attributes -->
                  <% } else if (["Route to Matched Account", "Account Based Routing", "Route to Account", "Route to Account Team", "Route to User Field", "Route to Owner Mapping"].includes(fullNode["actionType"])) { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      ABR Type: 
                    </span>
                    <span>
                      <%= fullNode["abr type"] %>
                    </span>
                  </li>
                  <!-- Kurt 8/9/2018 leaving the implicit fallback in the logs for ~3-6 months to support old logs. Howver the functionality in Route to Account has been removed. -->
                  <% if (!_.isNull(node["implicit fallback"]) && !_.isUndefined(node["implicit fallback"])) { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Implicit Fallback: 
                    </span>
                    <span>
                      <%= node["implicit fallback"] %>
                    </span>
                  </li>
                  <% } %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Account Id: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['account id'] %>">
                        <%= node["account id"] %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      New <%= node["assignment field name"] %>: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%= node['assignment field new'] %>">
                        <%= node["assignment field new"] %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Previous <%= node["assignment field name"] %>: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%= node['assignment field previous'] %>">
                        <%= node["assignment field previous"] %>
                      </a>
                    </span>
                  </li>
                  <!-- [END] Print Account Based Routing Attributes -->

                  <!-- [START] Print Route to Matched Lead Attributes -->
                  <% } else if (["Lead Based Routing", "Assign Owner Lead", "Route to Matched Lead"].includes(fullNode.actionType)) { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      A2BBR Type: 
                    </span>
                    <span>
                      <%= fullNode["a2bbr type"] %>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Lead Id: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['lead id'] %>">
                        <%= node["lead id"] %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Owner Id: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%= node['owner id'] %>">
                        <%= node["owner id"] %>
                      </a>
                    </span>
                  </li>
                  <!-- [END] Print Route to Matched Lead Attributes -->

                  <!-- [START] Print Route to Matched Contact Attributes -->
                  <% } else if (["Route to Contact"].includes(fullNode.actionType)) { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      A2BBR Type: 
                    </span>
                    <span>
                      <%= fullNode["routing type"] %>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Contact Id: 
                    </span>
                    <span>
                      <a target="_blank" href="<%= sobjLinkPrefix + node['contact id'] %>">
                        <%= node["contact id"] %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Owner Id: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%= node['owner id'] %>">
                        <%= node["owner id"] %>
                      </a>
                    </span>
                  </li>
                  <!-- [END] Print Route to Matched Contact Attributes -->

                  <!-- [START] Print Create Account Attributes -->
                  <% } else if (["Account Creation", "Create New Account", "Create Account"].includes(fullNode.actionType)) { %>
                  <% if (node["account attribs"]) { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">New Account: </span>
                    <span><a target="_blank" href="/<%= node["account attribs"].Id %>"><%= node["account attribs"].Id %></a></span>
                  </li>
                  <% } else { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">Converted <%= log["sobject type"] %>: </span>
                    <span><a target="_blank" href="/<%= log.attributes.id %>"><%= log.attributes.id %></a></span>
                  </li>
                  <% } %> 
                  <% _.each(node["node attribs"], function(att, key) { %>
                  <% if (key.toLowerCase() === "id") return; %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      <%= key %>: 
                    </span>
                    <span>
                      <%= att %>
                    </span>
                  </li>
                  <% }); %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Convert Lead to Contact: 
                    </span>
                    <span>
                      <%= fullNode["convertLeadToContact"] %>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Create Opportunity: 
                    </span>
                    <span>
                      <%= !fullNode["doNotCreateOpportunity"] %>
                    </span>
                  </li>
                  <!-- [END] Print Create Account Attributes -->

                  <!-- [START] Print Opportunity Creation Attributes #Node_CreateOpportunity -->
                  <% } else if (fullNode.actionType === "Create Task") { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">New Task: </span>
                    <span><a target="_blank" href="/<%= node["task attribs"].Id %>"><%= node["task attribs"].Id %></a></span>
                  </li>
                  <% _.each(node["task attribs"], function(att, key) { %>
                  <% if (key.toLowerCase() === "id") return; %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      <%= key %>: 
                    </span>
                    <span>
                      <%= att %>
                    </span>
                  </li>
                  <% }); %>
                  <% } else if (fullNode.actionType === "Create Opportunity") { %>
                  <li class="optional-key-li-no-margin">
                    
                    <span class="blue-parameter-font">
                      New Opportunity:
                    </span>
                    <span>
                      <a target="_blank" href="/<%=node['opportunity attribs'].Id%>">
                        <%= node['opportunity attribs'].Id %>
                      </a>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <% if (node['default owner assignment'] != undefined) { %>
                    <span class="blue-parameter-font">
                      DEFAULT ACTION: Owner assigned to Opportunity Account Owner.
                    </span>
                    <% } %>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Opportunity Owner:
                    </span>
                    <span>
                      <a target="_blank" href="/<%=node['opportunity attribs'].OwnerId%>">
                        <%= node['opportunity attribs'].OwnerId %>
                      </a>
                    </span>
                  </li>
                  <%_.each(node["opportunity attribs"], function(value, key){ %>
                  <% if (key.toLowerCase() == "id" || key.toLowerCase() == 'ownerid') return; %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      <%= key %>:
                    </span>
                    <span>
                      <%= value %>
                    </span>
                  </li>
                  <% }); %>
                  
                  <!-- [END] Print Opportunity Creation Attributes -->

                  <!-- [START] Print Custom Interface Attributes -->
                  <% } else if (fullNode.actionType === "Custom Interface") { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Parameter: 
                    </span>
                    <span>
                      <%= fullNode["parameter"] %>
                    </span>
                  </li>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Owner Id: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%= node['owner id'] %>">
                        <%= node["owner id"] %>
                      </a>
                    </span>
                  </li>
                  <!-- [END] Print Custom Interface Attributes -->

                  <!-- [START] Print Assign Owner Attributes -->
                  <% } else if (["Explicit Owner Assignment", "Assign Owner"].includes(fullNode.actionType)) { %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Owner: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%=fullNode['explicit owner assignment id']%>">
                        <%= node["owner name"] %>
                      </a>
                    </span>
                  </li>
                  <% if (fullNode.assignmentType == 'user field') { %>
                  <li>
                    <span class="blue-parameter-font">
                      Source: 
                    </span>
                    <span>
                      <%= fullNode['user field'] %>
                    </span>
                  </li>
                  <% } %>
                  <!-- [END] Print Assign Owner Attributes -->

                  <!-- [START] Print Send Notification Node Attributes -->
                  <% } else if (fullNode.actionType === "Send Notification") { %>
                  <% var emailStatus = node['email status'] %>
                  <li class="optional-key-li-no-margin">
                    <span class="blue-parameter-font">
                      Email Template: 
                    </span>
                    <span>
                      <a target="_blank" href="/<%= fullNode.notificationSettings[emailStatus].template %>">
                        <%= fullNode.notificationSettings[emailStatus].template %>
                      </a>
                    </span>
                  </li>
                    <!-- [END] Print Send Notification Node Attributes -->
                  <% } %>
                  
                  <!-- [START] Log Update Account Owner in Contact Routing -->
                </ul>
              </div>
            </div>
            <!-- [END] Print More Info for ACTION type nodes -->

            <!-- [START] Print Matched Record Count for MATCH type nodes -->
            <% } else if (fullNode.type === "MATCH") { %>
            <span class="black-parameter-font-bold">
              <% if (fullNode.objectType === "Dupe") { %>
              Chosen Duplicate Lead:
              <% } else if (fullNode.objectType === "DupeC") { %>
              Chosen Duplicate Contact:
              <% } else if (fullNode.objectType === "L2A") { %>
              Chosen Matched Account:
              <% } else if (fullNode.objectType === "L2L") { %>
              Chosen Matched Lead:
              <% } else if (fullNode.objectType === "L2O") { %>
              Chosen Matched Opportunity:
              <% } else if (fullNode.objectType === "C2O") { %>
              Chosen Opportunity:
              <% } else if (fullNode.objectType === "C2C") { %>
              Chosen Contact:
              <% } else if(fullNode.objectType === "A2O") { %>
              Chosen Opportunity:
              <% } else if(fullNode.objectType == "O2O") {%>
              Chosen Opportunity:
              <% } else if(fullNode.objectType == "O2C") {%>
              Chosen Contact:
              <% } %>
            </span>
            <ul class="optional-keys-ul" style="list-style: none;">
              <% if (node["chosen"] !== null) { %>
                <a target="_blank" href="<%= sobjLinkPrefix + node["chosen"]["id"] %>">
                  <li>
                    <%= node["chosen"]["id"] %>
                  </li>
                </a>
              <% } else { %>
                <li>
                  None
                </li>
              <% } %>
            </ul>
            <%if (fullNode.objectType === "L2O") { %>
            <span class="black-parameter-font-bold">
              Matched Opportunity Account:
            </span>
            <ul class="optional-keys-ul" style="list-style: none;">
              <% if (node["chosen"] !== null && node["chosen"]["account.id"] !== null) { %>
                <a target="_blank" href="<%= sobjLinkPrefix + node["chosen"]["account.id"] %>">
                  <li>
                    <%= node["chosen"]["account.id"] %>
                  </li>
                </a>
              <% } else { %>
                <li>
                  None
                </li>
              <% } %>
            </ul>
            <% } %>
            <div class="collapse-group">
              <div class="collapse-clickable" style="cursor: pointer;">
                <span class="black-parameter-font-bold">
                  <%= matchTypeLabel %> - 
                </span>
                <span class="black-parameter-font">
                  <%= matchList.length %>
                </span>
                <% if (matchList.length > 0) { %>
                <span class="expand-glyph"></span>
                <% } %>
                <%if (totalMatchedObjects && totalMatchedObjects > matchList.length) {%>
                <br />
                <%='(Out of ' + totalMatchedObjects + ' possible matches.)'%>
                <%}%>
              </div>
              <div class="collapse-toggleable">
                <ul class="optional-keys-ul" style="list-style: none;">
                  <% _.each( matchList, function(id) { %>
                  <a target="_blank" href="<%= sobjLinkPrefix + id %>">
                    <li>
                      <%= id %>
                    </li>
                  </a>
                  <% }); %>
                </ul>
              </div>
            </div>
            <!-- [END] Print Matched Record Count for MATCH type nodes -->

            <% var matchSet = {}; %>
            <% _.each(matchList, function(id){matchSet[id] = true;}); %>
            <% var currentSize = matchList.length; %>
            <% var oldSize = currentSize; %>
            <!-- i used to not show anything if nothing was filtered, but now with inclusion, we're always doing this -->
            <!-- <div class="right-column-text" style="display: inline-block; vertical-align: top; margin-left: 25px;"> -->


            <!-- [START] Print More Info for MATCH type nodes -->
            <% if (oldSize > 0) { %>
            <div class="collapse-group">
              <div class="collapse-clickable" style="cursor: pointer; font-weight: bolder;">
                <span class="black-parameter-font">More Info   </span>
                <span class="expand-glyph"></span>
              </div>
              <div class="collapse-toggleable">
                <ul class="optional-keys-ul" style="list-style: none;width: 250px;">
                  
                  <%if (node["enableMultiTiebreakerSets"]) {%>
                  <div class="text-primary" style="margin-bottom: 10px;">
                    <i>"Multiple Tiebreaker Rule Sets" is Enabled</i><br />
                    <span class="blue-parameter-font">Chosen Tiebreaker Set: </span>
                    <span class="black-parameter-font"><%=node["chosenTiebreakerSetName"]%></span>
                  </div>
                  <%}%>

                  <!-- [START] Print Filtered out Matched Records -->
                  <% if (fullNode["filter type"] !== "none") { %>
                  <% _.each(node["filtered out"], function(id){delete matchSet[id];}); %>
                  <li class="optional-key-li">
                    <div class="collapse-group">
                      <div class="collapse-clickable" style="cursor: pointer; font-weight: bolder;">
                        <div class="blue-parameter-font" style="font-weight: 400;">
                          <%= fullNode.filter && fullNode.filter.type === "custom" ? "Custom Filter - " + fullNode.filter.parameter : fullNode.filter && fullNode.filter.type === "conditions" ? constructParsedCondition(fullNode.filter) : fullNode.filter.soqlCondition  %>:
                        </div>
                        <div class="black-parameter-font">
                          <span>
                            filtered <%= node["filtered out"].length %> of <%= currentSize %> 
                          </span>
                          <span class="expand-glyph"></span>
                        </div>
                        <% currentSize -= node["filtered out"].length; %>
                      </div>
                      <div class="collapse-toggleable">
                        <ul class="optional-keys-ul" style="list-style: none;">
                          <% _.each(node["filtered out"], function(id) { %>
                          <li>
                            <a target="_blank" href="<%= sobjLinkPrefix + id %>">
                              <%= id %>
                            </a>
                          </li>
                          <% }); %>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <% } %>
                  <!-- [END] Print Filtered out Matched Records -->

                  <!-- [START] Print Filtered out Inactive and Queue Owned -->
                  <% if ( "filtered out inactive" in node) { %>
                  <% if ( node["filtered out inactive"].length > 0) { %>
                  <% _.each(node["filtered out inactive"], function(id){delete matchSet[id];}); %>
                  <li class="optional-key-li">
                    <div class = "collapse-group">
                      <div class="collapse-clickable" style="cursor: pointer; font-weight: bolder;">
                        <div class="blue-parameter-font" style="font-weight: 400;">
                          Inactive Owners
                        </div>
                        <div class="black-parameter-font">
                          <span>
                            filtered <%= node["filtered out inactive"].length %> of <%= currentSize %>
                          </span>
                          <span class="expand-glyph"></span>
                        </div>
                        <% currentSize -= node["filtered out inactive"].length; %>
                      </div>
                      <div class="collapse-toggleable">
                        <ul class="optional-keys-ul" style="list-style: none;">
                          <% _.each(node["filtered out inactive"], function(id) { %>
                          <li>
                            <a target="_blank" href="<%= sobjLinkPrefix + id %>">
                              <%= id %>
                            </a>
                          </li>
                          <% }); %>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <% } %>
                  <% } %>
                  <!-- [END] Print Filtered out Inactive and Queue Owned -->
                  
                  <!-- [START] Print Tiebreakers Matched Records -->
                  <% _.each(node.tiebreakers, function(tiebreakArray, idx) { %>
                  <% if ((currentSize === 0 || currentSize === 1) && !railsPage) return; %>
                  <% var addAsterisk = tiebreakArray === "fallthrough" %>
                  <% tiebreakArray = tiebreakArray instanceof Array ? tiebreakArray : []; %>

                  <li class="optional-key-li">
                    <div class="blue-parameter-font" style="font-weight: 400;">
                      <%= fullNode.tiebreakers[idx] && fullNode.tiebreakers[idx].type === "conditions" ? constructParsedCondition(fullNode.tiebreakers[idx]) : (fullNode.tiebreakers[idx] && fullNode.tiebreakers[idx].type === "optima" ? capitalize(fullNode.tiebreakers[idx].direction) + " " + fullNode.tiebreakers[idx].field : (fullNode.tiebreakers[idx] && fullNode.tiebreakers[idx].type === "custom") ? "Custom Tiebreaker: " + fullNode.tiebreakers[idx].parameter : fullNode.tiebreakers[idx].soqlCondition) %>: 
                    </div>

                    <!-- [START] Print Tiebreakers Exclusions -->
                    <div class="collapse-group" style="line-height: initial;">
                      <div class="collapse-clickable" style="cursor: pointer;">
                        <%= tiebreakArray.length > 0 ? ("excluded " + tiebreakArray.length + " of " + currentSize) : "no exclusions" + (addAsterisk ? "*" : "") %>
                        <% if (tiebreakArray.length > 0) { %>
                        <span class="expand-glyph"></span>
                        <% } %>
                      </div>
                      <div class="collapse-toggleable">
                        <ul class="optional-keys-ul" style="list-style: none;">
                        <% _.each( tiebreakArray, function(id) { %>
                          <li>
                            <a target="_blank" href="<%= sobjLinkPrefix + id %>">
                              <%= id %>
                            </a>
                          </li>
                        <% }); %>
                        </ul>
                      </div>
                    </div>
                    <% oldSize = currentSize; %>          
                    <% _.each(tiebreakArray, function(id){delete matchSet[id];}); %>
                    <% currentSize -= tiebreakArray.length; %>
                    <!-- [END] Print Tiebreakers Exclusions -->

                    <!-- [START] Print Tiebreakers Inclusions -->
                    <% if (_.size(matchSet) > 0) { %>
                    <div class="collapse-group" style="line-height: initial;">
                      <div class="collapse-clickable" style="cursor: pointer;">
                        <span>
                          <%= "included " + _.size(matchSet) + " of " + oldSize %>
                        </span>
                        <span class="expand-glyph"></span>
                      </div>
                      <div class="collapse-toggleable">
                        <ul class="optional-keys-ul" style="list-style: none;">
                          <% _.each(matchSet, function(value, id) { %>
                          <li>
                            <a target="_blank" href="<%= sobjLinkPrefix + id %>">
                              <%= id %>
                            </a>
                          </li>
                          <% }); %>
                        </ul>
                      </div>
                    </div>
                    <% } %>
                    <!-- [END] Print Tiebreakers Inclusions -->

                  </li>
                  <% }); %>
                  <!-- [END] Print Tiebreakers Matched Records -->

                </ul>
              </div>
            </div>
            <% } %>
            <% } else if (fullNode.type === 'REROUTING') { %>
            <!-- [START] Print REROUTING node log info -->
            <% if (node["next routing time"]) {%>
            <span class="black-parameter-font-bold">
              Scheduled to route at:
            </span>
            <ul class="optional-keys-ul" style="list-style: none;">
              <li><%=logsFormatDate(node["next routing time"])%></li>
            </ul>
            <% } %>
          
            <% if (log["parent log"]) {%>
            <div class="collapse-group">
              <div class="collapse-clickable" style="cursor: pointer; font-weight: bolder;">
                <span class="black-parameter-font">More Info   </span>
                <span class="expand-glyph"></span>
              </div>
              <div class="collapse-toggleable">
                <ul class="optional-keys-ul" style="list-style: none;width: 250px;">
                  <li class="optional-key-li-no-margin">
                                        <span class="blue-parameter-font">
                                            Parent log: 
                                        </span>
                                        <span class="black-parameter-font">
                      <a target="_blank" href="/apex/<%=ns%>dashboard#routing/<%=log['sobject type'].toLowerCase()%>/audit_logs/<%=log['parent log']%>"><%=log["parent log"]%></a>
                                        </span>
                                    </li>
                </ul>
              </div>
            </div>
            <% } %>
            <!-- [END] Print REROUTING node log info -->
            <% } %>
          </span>
        </div>
        <!-- [END] Print each Node Log in route -->

        <!-- [START] Print each Next Node Arrow per node -->
        <% var nextNodeName = (idx + 1 < log.route.length) ? log.route[idx + 1].name : 'End of Flow'; %>
        <% if (_.isEmpty(node['next routing time'])) {%>
        <div class="next-node-arrow">
          <img style="height: 25px; vertical-align: middle;" src="<%= imageURLs['edge arrow'] %>"/>
          <% node.edge = node.edge === "Not Available For Routing" ? node.edge = "Not Available" : node.edge = node.edge; %>
          <span style="margin-top: -20px; margin-left: 5px;"><%= node.edge %> - <%= _.escape(nextNodeName) %></span>
        </div>
        <%}%>
        <!-- [END] Print each Next Node Arrow per node -->
        <% }); %>

        <!-- [START] Print Extraneous EOF "node" at the end -->
        <% if (_.isEmpty(log.route[log.route.length - 1]['next routing time'])) {%>
        <div class="route-node">
          <div class="right-column-text">
            <span class="blue-parameter-font">End of Flow</span>
            <br/>
          </div>
        </div>
        <%}%>
        <br/>
        <br/>
        <!-- [END] Print Extraneous EOF "node" at the end -->
      </td>
    </tr>
    <% } catch(e){console.log(e);} %>
    <% }); %>
  </tbody>
</table>
