.dg_inner-wrapper td {
  font-family: 'Open Sans', sans-serif;
}
/* LEGACY CLASSES USED IN FUZZYMATCHER PAGES
   DELETE EVENTUALLY */
.leanDataButton{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:12px;
  padding:5px 12px;
  text-decoration:none !important;
  margin-right: 5px;
}
.blueButton {
  background-color:#0088cc;
  text-shadow:0px 1px 0px #263666;
  -moz-box-shadow:inset 0px -3px 7px 0px #0088cc;
  -webkit-box-shadow:inset 0px -3px 7px 0px #0088cc;
  box-shadow:inset 0px -3px 7px 0px #0088cc;
}
.blueButton:hover {
  background-color:#0688fa;
  color:white;	
}
.blueButton:active {
  position:relative;
  top:1px;
}
.orangeButton {
  background-color:#ffa600;
  text-shadow:0px 1px 0px #2f6627;
  -moz-box-shadow:inset 0px -3px 7px 0px #ffa600;
  -webkit-box-shadow:inset 0px -3px 7px 0px #ffa600;
  box-shadow:inset 0px -3px 7px 0px #ffa600;
}
.orangeButton:hover {
  background-color:#ffc04a;
  color:white;
}
.orangeButton:active {
  position:relative;
  top:1px;
}
.statsTable{
  background: white;
  border: solid 1px gray;     
  border-collapse: collapse;   
}
.statsTable tr td{
  border: solid 1px gray;   
  padding: 5px;     
}
.sectionHeader{
  background: #0088cc;
  color:white;
  height:25px;
  width:100%;
  font-weight:bold;
  font-size:110%;
  padding-left:10px;
  display: table; 
  overflow: hidden;
  vertical-align: center;
  margin-bottom:5px;
  margin-top:5px;
}
.centerSectionHeader{
  display: table-cell; 
  vertical-align: middle;
}
.dataTables_length,
.dataTables_filter {
  margin-bottom: 10px;
}

.dataTables_filter {    
  float: left !important;
  margin-left: 30px;
}

/***************************************
 ****************************************
 TABLES
 ****************************************
 ***************************************/
table.metadata-editor td {
  padding: 5px;
}
table.metadata-editor td:first-child {
  text-align: right;
}
/* ld-table */
/* FOR DATATABLES */
/* TO APPLY SORTING ARROW STYLING, ADD THE COLUMN CLASSNAME 'ld-th' TO ALL COLUMNS*/

#territorySegmentTable tbody tr:not(.no-hover):hover {
  background-color: var(--ld-lt-green-1) !important;
}
.ld-table .parent-row:hover {
    background-color: var(--ld-lt-green-1) !important;
}
.ld-table tr.collapsed.parent-row .pivot-table-arrow {
    transform: rotate(-90deg) !important;
}

.ld-table tr.parent-row .pivot-table-arrow {
    background-image: url(../images/Down_Arrow_Icon.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 1px 3px;
    height: 10px;
    width: 15px;
    display: inline-block;
    transform: rotate(0);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.table-filter-button strong {
  font-weight: 600;
}
.table-filter-button-container .btn-group {
  margin-left: 3px;
    color: var(--dk-grey-2);
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    padding: 0px;
    border: 1px solid var(--lt-grey-2);
    border-radius: 3px;
    cursor: pointer;
    background-image: url(../images/Down_Arrow_Icon.png);
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 11px;
    width: 150px;
}
.table-filter-button-container .btn-group label {
    font-size: 13px;
    padding: 8px 10px 8px 38px !important;
}
.table-filter-button-container .btn-group input[type="checkbox"] {
  opacity: 1;
}

.ld-table tbody.hoverable tr:hover {
  background-color: var(--lt-green-1) !important;
}

.dataTables_scrollHead .ld-table.dataTable th {
  background-color: var(--lt-grey-1_5) !important;
  height: 25px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-bottom: 0;
}
.ld-table th.ld-th.sorting:hover::after{
  display: inline-block;
  right: auto;
  bottom: auto;
  margin-left: 10px;
}

.ld-table th.ld-th.sorting::after{
  display: none;
  right: auto;
  bottom: auto;
  margin-left: 10px;
}

.ld-table th.ld-th.sorting_asc::after, .ld-table th.ld-th.sorting_desc::after{
  display: inline-block;
  right: auto;
  bottom: auto;
  margin-left: 10px;
}


.ld-table td.removeButton{
  padding-right: 10px;
}

.ld-table td.removeButton a{
  display: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  padding: 5px 2px;
}

.ld-table tr:hover td.removeButton a{
  display: block;
}

.ld-table tr.editing {
  background-color: var(--lt-grey-1);
}

.dataTables_info {
  color: var(--med-grey-1);
  font-size: 12px;
}

.ld-table .dataTables_wrapper .paging_simple_numbers {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--light);
}

.ld-table .dataTables_wrapper .paging_simple_numbers .previous.disabled, .paging_simple_numbers .next.disabled {
  color: var(--med-grey-1);
  text-decoration: none;
}

.ld-table .dataTables_wrapper .paging_simple_numbers > a:not(.disabled) {
  color: var(--ld-blue) !important;
  text-decoration: none;
}

.ld-table .dataTables_wrapper .paging_simple_numbers > a:not(.disabled):hover {
  border: 1px solid transparent !important;
  background: none !important;
  color: var(--dk-grey-2) !important;
  text-decoration: underline !important;
}

.dataTables_wrapper .paging_simple_numbers span .paginate_button.current, .dataTables_wrapper .paging_simple_numbers span .paginate_button:hover{
  border: 1px solid transparent !important;
  background: none !important;
  background-color: var(--lt-grey-2) !important;
  color: var(--med-grey-2) !important;
}

.dataTables_wrapper .paging_simple_numbers span .paginate_button {
  font-size: 12px;
}

.dataTables_wrapper .dataTable {
  border-left: 1px solid var(--lt-grey-1) !important;
  border-right: 1px solid var(--lt-grey-1) !important;
}

/* end ld-table */

#territorySegmentTable tbody tr:not(.no-hover):hover {
  background-color: var(--ld-lt-green-1) !important;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* dirty-bar */
.dirty-bar {
  align-items: center;
  background-color: var(--ld-green);
  display: flex;
  height: 45px;
  justify-content: flex-end;
  margin: -10px -30px 0px -40px;
  padding: 0 10px;
  position: absolute;
  width: inherit;
}
.dirty-bar .top-button:hover {
  color: initial;
}
.dirty-bar .top-button {
    border: 1px solid white;
    padding: 7px 20px;
    border-radius: 4px;
    margin: 9px 5px;
    cursor: pointer;
    width: auto;
    height: auto;
}
.dirty-bar .top-button.disabled-by-edit,
.dirty-bar .top-button.disabled {
  background: #64d3bd !important;
  border: 1px solid #a2dcd1 !important;
  color: #dfe6e5 !important;
  pointer-events: none !important;
}
.dirty-bar .top-button.cancel:hover {
    background-color: var(--lt-grey-1);
}
.dirty-bar .top-button.cancel {
    color: white;
    background: transparent;
}
.dirty-bar .top-button.save:hover {
    color: var(--dk-grey-2) !important;
    background-color: var(--lt-grey-2);
}
.dirty-bar .top-button.save {
    background: white;
    color: var(--dk-grey-2);
}
/* end dirty-bar */

.dirty-bar.static {
  position: static;
}

/***************************************
 ****************************************
 TEXT
 ****************************************
 ***************************************/

.ld-text-navigation{
  color: var(--med-grey-2);
  font-size: 10px;
  text-decoration: underline;
  display: inline-block;
}

.ld-pagination-pipe{
  margin-left: 10px;
}

.ld-text-navigation.disabled,
.ld-text-navigation.disabled:hover{
  color: var(--med-grey-2);
}

.ld-text-navigation:hover{
  color: var(--dk-grey-2);
}

.ld-header-wrapper {
  border-bottom: 1px solid var(--lt-grey-2);
}

.ld-header-wrapper-margins {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ld-header-wrapper-top-margin {
  margin-top: 20px;
}

.ld-header-bottom-margin {
  margin-bottom: 10px;
}

.ld-section {
  font-size: 16px;
  font-weight: var(--semi-bold);
  color: var(--dk-grey-2);
  padding-bottom: 10px;
}

.ld-header h1{
  font-weight: var(--semi-bold);
  display: inline-block;
  font-size: 20px;
}

#pivotByOwner tr,
#pivotByTerritory tr {
  border: 1px solid var(--lt-grey-1);
}

table.ld-table.round-robin-table,
table.ld-table.territory-table,
.ld-table.round-robin-table table,
.ld-table.territory-table table {
  border-collapse:collapse;
  table-layout:fixed;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: none;
}

.ld-table.territory-table tr:first-child {
  border-left: 0;
  border-right: 0;
}
.ld-table tr{
  border-left: 1px solid var(--lt-grey-1);
  border-right: 1px solid var(--lt-grey-1);
}
.ld-table th {
  font-weight: var(--light) !important;
  padding-left: 10px !important;
  font-size: 12px !important;
  color: var(--med-grey-2) !important;
}
.ld-table.round-robin-table th,
.territorySegments .dataTables_scrollHead {
  background-color: var(--lt-grey-1_5) !important;
}

.ld-table.round-robin-table td:first-child,
.ld-table.territory-table td:first-child {
  font-weight: var(--regular);
  color: var(--dk-grey-2);
}

.ld-table.round-robin-table td,
.ld-table.territory-table td {
  padding: 10px 0 10px 20px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.3;
  font-weight: var(--light);
  color: var(--dk-grey-2);
}

.ld-table .segment-action-cell {
  padding-top: 0!important;
  padding-bottom: 0!important;
  overflow: visible !important;
}

.ld-table.territory-table tr:hover .deleteIcon,
.ld-table.territory-table tr:hover .segment-action {
  visibility: visible;
}
#territory-routing-editor .dataTables_scrollHead {
  height: 34px;
  top: 5px;
}
#territory-routing-editor th {
  vertical-align: top;
  line-height: 29px;
}
.ld-table .deleteIcon {
  visibility: hidden;
}

.ld-table .ld-select-dropdown {
  display: none;
  position: absolute;
  top: 20px;
  left: -1px;
  width: 70px;
  background: white;
  padding: 2px 0 4px 0;
  border: 1px solid var(--ld-green);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ld-table .segment-action.active .ld-select-dropdown {
  display: block !important;
}

.ld-table .ld-select-dropdown div {
  padding: 2px 7px;
}

.ld-table .ld-select-dropdown div:hover {
  background-color: var(--ld-green);
  color: white;
}

.ld-table .datetime-cell-input {
  cursor: pointer;
  background-image: url(../images/Calendar_Icon.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: right 7px center;
  padding-right: 21px !important;
}

.ld-breadcrumb:not(:first-child) {
  padding-left: 5px;
}
.ld-breadcrumb {
  padding-right: 5px;
}
.ld-breadcrumb.static {
  font-size: 12px;
  font-weight: var(--regular);
  color: var(--med-grey-2);
  text-decoration: underline;
  cursor: pointer;
}
.ld-breadcrumb.static:hover {
  font-size: 12px;
  font-weight: var(--regular);
  color: var(--ld-green);
  text-decoration: underline;
}
.ld-breadcrumb.current {
  font-size: 12px;
  font-weight: var(--regular);
  color: var(--med-grey-2);
}
.ld-breadcrumb.disabled {
  font-size: 12px;
  font-weight: var(--regular);
  color: var(--lt-grey-2);
}

select {
  border: 1px solid var(--lt-grey-2) !important;
}

/***************************************
 ****************************************
 WRAPPERS
 ****************************************
 ***************************************/
 .ld-section-container{
   background-color: var(--lt-grey-1);
   padding: 20px;
 }
 

.ld-inner-wrapper{
  padding-left: 30px;
  padding-right: 30px;
  width: 1345px;
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ld-outer-wrapper{
  background-color: #f2f2f2;
}

.user .card .flexbox-container {
  justify-content: space-between;
}
.user .card .flexbox-container .drag-handle-img {
  flex: 0 0 20px;
  align-self: center;
  visibility: hidden;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.user:hover .card .flexbox-container .drag-handle-img {
  visibility: visible !important;
}
.dataTable .hover-row {
  cursor: pointer;
}
.dataTable .hover-row:hover {
  background-color: var(--ld-lt-green-1);
}
.flexbox-container.space-between {
  justify-content: space-between;
}
.inline-block {
  display: inline-block;
}