/*
Send to Netexam RPC Connector
Copyright, 2009, Media Defined
All Rights Reserved
ver. 1.4r
*/
NE=window.NE||{};NE.util=NE.util||{};NE.CONNECTOR='https://sfdcadmin.netexam.com/js/netexam_rpc_connector.js';NE.SFORCE_CONNECTOR='/soap/ajax/9.0/connection.js';NE.doRpc=function(cfg){NE.cfg=cfg;var neConnectorJs=NE.CONNECTOR+'?nc='+Math.random();NE.util.includeJs(neConnectorJs,'NE_LOADED',function(){NE.sendToNetexam(NE.cfg)})};NE.util.includeJs=function(scriptLocation,objectToCheck,callback){if(!window[objectToCheck]){var sct=document.createElement('script');sct.src=scriptLocation;document.getElementsByTagName('head')[0].appendChild(sct);function objCheckLoop(){if(window[objectToCheck]){if(callback){callback(objectToCheck)}clearInterval(checkInterval)}}var checkInterval=setInterval(objCheckLoop,300)}else{if(callback){callback(objectToCheck)}}};